.describemark{
    padding-top: 2em;
    padding-right: 3em !important;
    margin-top: -11.6em;
    max-width: 400px;
    margin-left: 1em;
    position:relative;
    z-index: 10000;
    color: #FFFFFF;
    padding-bottom: 1.3em;
}
.describemark h2{
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 2em;
}
.describemark p{
    font-family: 'Archivo', sans-serif;
    font-weight: 400 !important;
}

.focus{
    color: #438434;
}
.marketing h4{
    font-family: 'Clash Grotesk', sans-serif;
    color: #091E42;
    /* padding-left: 1em; */
    font-weight: bold;
    text-align: center;
}
.marketing{
    background-color: #EFF8ED;
}
.marketing p{
    color: #091E42;
    font-family: 'Archivo', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}