form{
    display: grid;
    grid-template-rows: repeat(6, 3em);
    /* margin-left: 3em; */
    /* color: #091E42; */
    /* width: 2em; */
    font-family: 'Gothic A1', sans-serif;
    color: #344054;
    background-color: #F6F6F6;
    padding-left: 0.7em;
    padding-right: 3em !important;
    align-self: center;
}

input{
    border: 3px solid #D0D5DD;
    border-radius: 5px;

}